<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.growgreen.todo.TodoMapper">
    <insert id="insTodo" useGeneratedKeys="true" keyProperty="itodo">
        INSERT INTO p_todo
        SET iplant = #{iplant}, ctnt = #{ctnt}, deadline = #{deadline}, repeat_yn = #{repeatYn}
    </insert>

    <insert id="insRepeatDay">
        INSERT INTO p_day
        SET itodo = #{itodo}, repeat_day = #{repeatDay}
    </insert>

    <select id="selTodo">
        SELECT A.ctnt, DATE_FORMAT(A.deadline, "%m-%d") month,date_format(A.deadline, "%H-%i") time, B.nick_nm nickNm, B.nm, A.finish_yn finishYn
        FROM p_todo A
        INNER JOIN p_plant B
        ON A.iplant = B.iplant
        WHERE del_yn = 0
        ORDER BY deadline
    </select>

    <select id="selTodoByDay">
        SELECT A.ctnt, DATE_FORMAT(A.deadline, "%m-%d") MONTH, date_format(A.deadline, "%H-%i") time, B.nick_nm nickNm, B.nm, A.finish_yn finishYn
        FROM p_todo A
        INNER JOIN p_plant B
        ON A.iplant = B.iplant
        WHERE DATE(deadline) = #{deadline}
        AND del_yn = 0
        ORDER BY time
    </select>

    <update id="updTodo">
        UPDATE p_todo
        SET iplant = #{iplant}, deadline = #{deadline}, ctnt = #{ctnt},
        repeat_yn = #{repeatYn}, updated_at = current_timestamp
        WHERE itodo = #{itodo}
    </update>

    <update id="updTodoRepeatDay">
        UPDATE p_day
        SET repeat_day = #{repeatDay}
        WHERE itodo = #{itodo}
    </update>

    <update id="delTodo">
        UPDATE p_todo
        SET del_yn = 1
        WHERE itodo = #{itodo}
    </update>

    <delete id="delRepeatDay">
        DELETE FROM p_day
        WHERE itodo = #{itodo}
    </delete>

    <select id = "selRepeatTodo">
        SELECT B.ctnt, A.repeat_day repeatDay,
        DATE_FORMAT(B.deadline, "%m-%d") todoMonth,
        DATE_FORMAT(B.deadline, "%H:%i") todoTime,
        C.nick_nm nickNm, C.nm
        FROM p_day A
        INNER JOIN p_todo B
        ON A.itodo = B.itodo
        INNER JOIN p_plant C
        ON C.iplant = B.iplant
    </select>

</mapper>