<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.growgreen.todo.TodoMapper">
    <insert id="insTodo" useGeneratedKeys="true" keyProperty="itodo">
        INSERT INTO p_todo
        SET iplant = #{iplant}, ctnt = #{ctnt}, deadline = #{deadline}, repeat_yn = #{repeatYn}
    </insert>

    <insert id="insRepeatDay">
        INSERT INTO p_day
        SET itodo = #{itodo}, repeat_day = #{repeatDay}
    </insert>

    <select id="selTodo">
        SELECT itodo, iplant, ctnt, deadline, finish_yn
        FROM p_todo
        WHERE del_yn = 0
        ORDER BY deadline
    </select>

    <select id="selTodoByDay">
        SELECT itodo, iplant, ctnt, deadline, finish_yn
        FROM p_todo
        WHERE DATE_FORMAT(deadline, '%Y-%m-%d') = #{deadline}
        AND del_yn = 0
    </select>

    <update id="updTodo">
        UPDATE p_todo
        SET iplant = #{iplant}, deadline = #{deadline}, ctnt = #{ctnt},
        repeat_yn = #{repeatYn}, updated_at = current_timestamp
        WHERE itodo = #{itodo}
    </update>

    <update id="updTodoRepeatDay">
        UPDATE p_day
        SET repeat_day = #{repeatDay}
        WHERE itodo = #{itodo}
    </update>

    <update id="delTodo">
        UPDATE p_todo
        SET del_yn = 1
        WHERE itodo = #{itodo}
    </update>

    <delete id="delRepeatDay">
        DELETE FROM p_day
        WHERE itodo = #{itodo}
    </delete>

</mapper>